.App {
    font: small-caps bold 24px/1 sans-serif;
}

.App-logo {
    text-align: center;
    animation: App-logo-spin infinite 2s linear;
    height: 80px;
    transform-origin: 50% 50%;
}

.App-header {
    text-align: center;
    background-color: white;
    height: 150px;
    padding: 20px;
    color: black;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.divider {
    margin: 22px;
    color: grey;
    border-bottom: 1px solid;
}


